.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  text-align: center;
}

.main {
  margin: 1rem auto;
  padding: 0 1rem;
}

.sign-up-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 2rem auto;
  width: 45vw;
  text-align: center;
}

.sign-up-container .title,
.sign-up-container .form input,
.sign-up-container .btn,
.sign-up-container .link {
  width: 50vw;
}

.workout-img {
  width: 30%;
  opacity: 0.1;
}

.title {
  background: whitesmoke;
  padding: 0.3rem;
  letter-spacing: 8px;
  color: grey;
  border-bottom: 4px solid lightgrey;
  text-align: center;
}

.form {
  width: 100%;
  display: grid;
}

.form input {
  width: 25vw;
  margin: 1.5rem auto;
  font-size: 1.5rem;
  padding: 0.2rem;
  text-align: center;
  letter-spacing: 4px;
  border: 1px dotted grey;
  outline: lightgrey;
}

.icon-img {
  width: 25vw;
  margin: 5.2rem auto;
}

.icon {
  width: 85%;
}

.btn {
  width: 100%;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: grey;
  border: 1px solid lightgrey;
  border-bottom: 4px solid lightgrey;
  padding: 0.2rem;
  margin: 1rem auto;
  cursor: pointer;
  outline: lightgrey;
}

.link {
  display: grid;
  width: 100%;
  margin: 1rem auto;
  letter-spacing: 6px;
  border: 1px solid lightgrey;
  padding: 0.3rem;
}

.sign-up {
  background: rgba(211, 211, 211, 0.582);
  padding: 0.3rem;
  color: grey;
  outline: 1px solid lightgrey;
  outline-offset: -4px;
}

@media only screen and (max-width: 800px) {
  .container {
    display: grid;
  }
  .form {
    margin: 1.5rem auto;
  }
  .form input {
    width: 100%;
  }
}
